/* index.html */

body{
    margin: 0%;

    /* 整體字型設定 */
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-style: normal;
    color: #666666;

    /* 整體架構排版: 區塊垂直置中 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a{
    text-decoration: none;

    cursor: pointer;
}

nav{
    width: 1200px;
    max-width: 1920px;
    height: 50px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav-title{
    /* 台北一日遊 */
    width: 150px;
    height: 34px;
    left: 10px;
    top: 10px;
    padding: 10px;

    font-weight: bolder;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
}

.nav-menu-list{
    /* BUTTON */
    height: 14px;

    font-weight: bold;
    line-height: 13px;
    color: #666666;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-list-sub{
    margin: 10px;
}

/* 登入&註冊 */

.logout-btn{
    display: none;

    cursor: pointer;
}

.background-layer{
    margin: auto;

    background: rgba(0,0,0,0.5);
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.membership-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;

    position: absolute;
    top: 80px;
    left: 40%;
    z-index: 5;
}

.membership-popup-decorator-bar{
    width: 340px;
    height: 10px;

    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.login-close-btn{
    width: 16px;
    height: 16px;

    background-image: url(icon_close.png);
    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;
    z-index: 2;
    left: 306px;
    top: 17px;

    cursor: pointer;
}

.signup-close-btn{
    width: 16px;
    height: 16px;

    background-image: url(icon_close.png);
    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;
    z-index: 2;
    left: 306px;
    top: 17px;

    cursor: pointer;
}

.open-form{
    display: block;
}

.close-form{
    display: none;
}

.login-popup{
    width: 340px;
    height: 275px;
}

.signup-popup{
    width: 340px;
    height: 330px;
}

.membership-input-field{
    display: flex;
    flex-direction: column;
}

.membership-popup-title{
    width: 310px;
    height: 27px;

    padding-left: 15px;
    padding-bottom: 15px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;

    align-items: center;
    text-align: center;
}

.membership-input-box{
    box-sizing: border-box;

    width: 310px;
    height: 47px;

    padding: 15px;
    margin-left: 15px;
    margin-bottom: 10px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.membership-input-box[type=text]{
    color: #000000;
}

.membership-popup-btn{
    width: 310px;
    height: 47px;

    margin-left: 15px;
    margin-bottom: 10px;

    background: #448899;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;

    cursor: pointer;
}

.error-message{
    width: 310px;
    height: 22px;

    margin-left: 15px;

    line-height: 13px;
    color: #000000;

    text-align: center;
}

.change-membership-form{
    width: 310px;
    height: 22px;

    margin-left: 15px;

    font-weight: 500;
    line-height: 13px;
    color: #666666;

    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-schedule-btn{
    cursor: pointer;
}

.signin-signup-btn{
    cursor: pointer;
}

.change-signin-to-signup{
    cursor: pointer;
}

.change-signup-to-signin{
    cursor: pointer;
}

/* 登入&註冊 */

.welcome-box{
    width: 1920px;
    max-width: 110%;
    height: 320px;
    margin-bottom: 15px;

    background-image: url(welcome.png);
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.welcome-box-position{
    width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.slogan-big{
    /* 輕鬆享受台北一日悠閒 */
    position: relative;
    height: 41px;
    top: 85px;

    font-weight: 700;
    font-size: 28px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}

.slogan-mid{
    /* 探索每個角落，體驗城市的深度旅遊行程 */
    position: relative;
    height: 22px;
    top: 100px;

    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;

    color: #F8F8F8;
}

.search-attraction-input{
    /* input */
    position: relative;
    width: 385px;
    height: 46px;
    top: 116px;

    background: #FFFFFF;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* input輸入框文字 */
::placeholder{
    /* 輸入景點名稱查詢 */
    position: relative;
    opacity: 1;

    font-weight: 700;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: #757575;
}

:-ms-input-placeholder{
    /* 輸入景點名稱查詢 */
    position: relative;
    top: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;

    color: #757575;
}

::-ms-input-placeholder{
    /* 輸入景點名稱查詢 */
    position: relative;
    top: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;

    color: #757575;
}

.search-attraction-input[type=text]{
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #000000;
}

.search-attraction-btn{
    position: relative;
    width: 60px;
    height: 48px;
    left: -6px;
    top: 135px;

    background: #448899;
    border: none;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

    background-image: url(icon_search.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;

    cursor: pointer;
}

.dropdown-menu-container{
    width: 400px;
    height: 162px;

    position: relative;
    top: 120px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #AABBCC;
    border-radius: 5px;
    
    z-index: 999;
}

.open-content{
    display: block;
}

.hide-content{
    display: none;
}

.dropdown-menu-box{
    width: 400px;
    height: 162px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdown-menu-item{
    margin: 10px 15px 10px 15px;
    padding: 5px 5px 5px 5px;

    width: 90px;
    height: 20px;

    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    display: flex;
    align-items: center;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dropdown-menu-item:hover{
    width: 95px;
    height: 25px;

    background: #E8E8E8;
    border-radius: 5px;
}

/* 整個景點part */
.attractions-box{
    top: 370px;
}

/* 整個景點sub part */
.attractions-box-sub{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* 單個景點 */
.attractions-box-single{
    width: auto;
    margin: 30px 15px 15px 15px;

}

/* 單個景點:上半圖片 */
.attractions-box-single-product{
    width: auto;
    /* 讓圖片跟文字重疊 */
    position: relative;
}

.attractions-box-single-img{
    width: 270px;
    height: 197px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: #e4e4e4 1px solid;
}

.attractions-box-single-name-box{
    width: 271px;
    height: 40px;

    background: rgba(0,0,0,0.5);

    /* 讓圖片跟文字重疊 */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: -1px;

    display: flex;
    align-items: center;
}

.attractions-box-single-name{
    font-weight: 900;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    
    margin: 10px;
}

/* 單個景點:下半文字 */
.attractions-box-single-text{
    width: 270px;
    height: 45px;
    margin-top: -5px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: #e4e4e4 1px solid;
}

.attractions-box-single-mrt{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #757575;

    margin: 10px;    
}

.attractions-box-single-cat{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #757575;

    margin: 10px; 
}

.footer{
    /* footer */
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1920px;
    height: 104px;

    background: #757575;
}

.copyright-text{
    /* COPYRIGHT © 2021 台北一日遊 */
    position: relative;
    width: 240px;
    height: 14px;
    top: 45px;

    font-family: 'Noto Sans TC';
    font-weight: 700;
    line-height: 13px;

    text-align: center;

    color: #FFFFFF;
}

/* 600~1200 */
@media (max-width: 1200px){

    /* nav bar */
    nav{
        width: 90vw;
    }

    /* banner */
    .welcome-box{
        width: 1280px;
        height: 320px;

        background-size: auto;
    }

    .welcome-box-position{
        width: 90vw;
        max-width: 1200px;
    }

    .slogan-big{
        width: 300px;
    }
    
    .slogan-mid{
        width: 300px;
    }
    
    .search-attraction-input{
        width: 315px;
    }

    .dropdown-menu-container{
        width: 330px;
    }

    .dropdown-menu-item{
        margin: 5px 10px 5px 10px;
        padding: 3px 3px 3px 3px;
    
        width: 80px;
        height: 20px;
    }
    
    .dropdown-menu-item:hover{
        width: 85px;
        height: 25px;

        background: #E8E8E8;
        border-radius: 5px;
    }

    /* 景點陳列 */
    .attractions-box-sub{
        width: 100vw;
        grid-template-columns: repeat(2, 360px);
        justify-content: center;
        place-self: center;
    }

    .attractions-box-single{
        padding: 0 15px 0 15px;
    }

    .attractions-box-single-img{
        width: 322px;
    }
    
    .attractions-box-single-name-box{
        width: 322px;
    }

    .attractions-box-single-text{
        width: 322px;
        margin-top: -5px;
    }

    /* 登入&註冊 */
    .background-layer{
        /* width: 120%;
        max-width: 1200px; */
    }

    .membership-container{
        left: 35%;
    }

    .footer{
        width: 120%;
    }

}


/* 360~600 */
@media (max-width: 600px){

    .nav-title{
        font-size: 26px;
    }

    .nav-menu-list{
        font-size: 14px;
    }

    .nav-menu-list-sub{
        margin: 5px;
    }

    /* banner */
    .welcome-box{
        width: 110%;
        max-width: 600px;
        height: 320px;
    }

    .welcome-box-position{
        width: 80vw;
        max-width: 600px;
    }
    
    .search-attraction-input{
        width: 200px;
    }

    .search-attraction-btn{
        left: -10px;
    }

    .dropdown-menu-container{
        width: 280px;
        height: 150px;
    }

    .dropdown-menu-box{
        width: 280px;
    }

    .dropdown-menu-item{
        margin: 5px 5px 5px 5px;
        padding: 3px 3px 3px 3px;

        font-size: 14px;
    
        width: 70px;
        height: 20px;
    }
    
    .dropdown-menu-item:hover{
        width: 75px;
        height: 25px;

        background: #E8E8E8;
        border-radius: 5px;
    }

    /* 景點陳列 */
    .attractions-box-sub{
        width: 100vw;
        grid-template-columns: repeat(1, 350px);
        justify-content: center;
        place-self: center;
    }

    .attractions-box-single{
        padding: 0 15px 0 15px;
    }

    .attractions-box-single-img{
        width: 290px;
    }
    
    .attractions-box-single-name-box{
        width: 290px;
    }

    .attractions-box-single-text{
        width: 290px;
        margin-top: -5px;
    }

    /* 登入&註冊 */

    .background-layer{
        /* width: 120%;
        max-width: 600px; */
    }

    .membership-container{
        left: 3%;
    }

}